<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
  <title>TheNetNinja Angular Playlist</title>
  <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="app/lib/angular.min.js"></script>
  <script src="app/lib/app.js "></script>
</head>

<body>
  <div ng-controller="myController">
    <input type="text" ng-model='search' />
    <ul>
      <li ng-repeat="usuario in usuarios | orderBy: 'nombre' | filter:search">
        {{usuario.nombre}} - {{usuario.premio | currency:'€'}}
      </li>
    </ul>

  </div>
</body>

</html>